@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn {
	
	   display: inline-block;
	   *display: inline;
	   *zoom: 1;
	    padding: 4px 10px 4px;
	    margin-bottom: 0;
		font-size: 13px; line-height: 18px; 
		color: #333333; 
		text-align: center;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
		vertical-align: middle; 
		-color: #f5f5f5; 
		background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); 
		background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); 
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); 
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); 
		background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); 
		background-image: linear-gradient(top, #ffffff, #e6e6e6); 
		background-repeat: repeat-x; 
		filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
		border-color: #e6e6e6 #e6e6e6 #e6e6e6;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		border: 1px solid #e6e6e6;
		-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { 
	padding: 9px 14px;
	 font-size: 15px;
	 line-height: normal; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary 
{ 
	background-color: #4a77d4;
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
	background-image: linear-gradient(top, #6eb6de, #4a77d4); 
	background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
	border: 1px solid #3762bc; 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 25%; margin-top: 20px;margin-left:38% ; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

::-webkit-input-placeholder {
	text-align: center;
	color: white;
 }
 
 :-moz-placeholder { /* Firefox 18- */
	text-align: center;  
	color: white;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;  
	color: white;
 }
 
 :-ms-input-placeholder {  
	text-align: center; 
	color: white;
 }
html { 
	/* background: url("../images/mono.jpg") no-repeat center center fixed;  */
	/* background: url("../images/mono.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
	width: 100%; 
	height:100%; 
	overflow:hidden;
 }


body { 
	width: 100%;
	height:100%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	/* background: #304352; */
	color: #fff;
	font-size: 18px;
	/* background: url("../images/22.jpg") no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* background-image: url("../images/mono.jpg"); */
	/* WHite BG */
	/* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
	/* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
	text-align:center;
	letter-spacing:1.2px;

  background-size: cover;
  background-position: center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.863),rgba(58, 37, 18, 0.63),rgba(24, 21, 36, 0.61),rgba(0, 0, 0, 0.959)), url(./3.jpg);
  
/* background: #141E30;
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #243B55, #141E30); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */

	/* background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%); */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 ); 
    
}



.login { 
	position: absolute;
	top: 6%;
	left: 28%;
	margin: 0px 0 0 0px;
	width:600px;
	height:600px;
}

.login h1 { 
	color: #fff;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	letter-spacing:1px;
	/* text-align:center; */
}

input { 
	width: 50%; 
	margin-bottom: 10px; 
	background: rgba(34, 30, 30, 0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 10px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

@font-face {
    font-family: "Luna";
    src: url("Luna.ttf");
	}

img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}
